.header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    background-color: #F4DDBC;
    padding: 10px 0;
    z-index: 1000;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F4DDBC;
}

.header li {
    float: left;
}

.header li a {
    display: block;
    color: #F5A04F;
    text-align: center;
    font-weight: bold;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 80px;
}

.header li a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #F4DDBC;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
}

.footer-column {
    flex: 1;
    padding: 0 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.footer-column h3 {
    border-bottom: 1px solid #F4DDBC;
    padding-bottom: 10px;
    color: #EF5B2A;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column li {
    margin: 10px 0;    
    font-size: small;
}

.footer-column li a {
    color: #F5A04F;
    font-weight: bold;
    text-decoration: none;
}

#tilmeld {
    color: white;
    text-decoration: none;
    font-size: small;
}

#tilmeld:hover {
    text-decoration: underline;
}

.footer-column li a:hover {
    text-decoration: underline;
}

.footer-tekst   {
    color: white;
    font-size: small;
    line-height: 2.5;
}

.button {
    display: inline-block;
    padding: 10px 50px;
    background-color: #F5A04F;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.newsletter input {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
}

.newsletter button {
    display: block;
    margin-left: 0px;
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #F5A04F;
    color: white;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.newsletter button:hover {
    text-decoration: underline;
}

